<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fizzler" version="1.0.0" targetFramework="net452" />
  <package id="Fizzler.Systems.HtmlAgilityPack" version="1.0.0" targetFramework="net452" />
  <package id="Frapper" version="1.0.4" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net452" />
  <package id="RHttpServer" version="1.0.3.8" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.0" targetFramework="net452" />
  <package id="SimpleSQLite.RHttpServer" version="1.0.0.3" targetFramework="net452" />
</packages>