html {
    height: 100%;
}

body {
    height: 100%;
}

#container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#container > header {
    flex: 0 0 60px;
    width: 100%;
    margin-bottom: 100px;
    background-color: darkgray;
}

#container > main {
    flex: 1 1 auto;
    width: 100%;
    max-width: 960px;
}

#container > main > div > video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#container > main > footer {
    flex: 0 0 30px;
    background-color: green;
}

#container.fullscreen > header {
    display: none;
}

#container.fullscreen > main {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
}

#container.fullscreen > main > header {
    flex: 0 0 30px;
}

#container.fullscreen > main > div {
    flex: 1 1 auto;
    position: relative;
    background-color: #000000;
}

#container.fullscreen > main > div > video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.player-controls {
    display: flex;
}

.player-controls > .play {
    flex: 0 0 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}

.player-controls > .progress {
    flex: 1 1 auto;
    height: 30px;
}

.player-controls > .fullscreen {
    flex: 0 0 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}
