html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #1d1d1d;
    color: #fcfcff;
    font-family: 'Raleway', sans-serif;
    list-style: none;

}

#container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

#container > header {
    flex: 0 0 60px;
    width: 100%;
    height: 42px;
    background-color: #2e2e2e;
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 60px;
}

#container > header > div{
    width:960px;
    height: 100%;
    margin: auto;
    padding-left: 8px;
}
.dropdown-icon {
    float: right;
    margin-top: 17px;
    margin-right: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown ul {
    display: none;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}

.dropdown li{
    margin: 0;
}

.time{
    font-size: 12px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}
.currentTime{
    margin-right: 3px;
}
.totalTime{
    margin-left: 3px;
}

.dropdown.active ul {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e2e2e;
    margin: 0;
    width:230px;
}


button{
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    border: none;
    outline: none;
    float: right;
    color: #fcfcff;

}

#container > main {
    flex: 1 1 auto;
    width: 100%;
    max-width: 960px;

}

#container > main > div > video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#container > main > footer {
    flex: 0 0 30px;
    height: 34px;
    background-color: #2e2e2e;
    line-height: 34px;
    webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.14);
}

#container.fullscreen > header {
    display: none;
}

main{

}

#container.fullscreen > main {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
}

#container.fullscreen > main > header {
    flex: 0 0 30px;
}

#container.fullscreen > main > div {
    flex: 1 1 auto;
    position: relative;
    background-color: #000000;
}

#container.fullscreen > main > div > video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

main header {
    background-color: #2e2e2e;
    height:32px;
    line-height: 32px;
    padding-left: 8px;

}

main header button {
    height:100%;
    width:32px;
    padding: 0;
}

.player-controls {
    display: flex;
}

.player-controls > .play {
    flex: 0 0 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}

.player-controls > .progress {
    flex: 1 1 auto;
    height: 30px;
}

.player-controls > .volume {
    height: 30px;
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.player-controls > .copy-button {
    border-left: solid 1px rgba(0,0,0,0.3);
    border-right: solid 1px rgba(0,0,0,0.3);
    white-space: nowrap;
}

.player-controls > .fullscreen {
    flex: 0 0 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}

.slider{
    margin-top: 5px;
    float: right;
    display: block;
}

.player-controls > i {
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 7px;
    min-width: 10px;
}



input {
    background-color: rgba(0,0,0,0);
    margin: 0;
}